section {
  margin-top: 150px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 0 14px;
    margin-top: 40px;
  }

  img {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  h2 {
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  .btn {
    width: 150px;
    margin-top: 30px;
  }
}
