nav {
  gap: 4px;
  margin-top: 10px;
  padding: 0 10rem;

  @media screen and (max-width: 1024px) {
    padding: 0 2rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0 14px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    width: 60px;

    @media screen and (max-width: 768px) {
      width: 30px;
    }
  }

  h1 {
    font-size: 24px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  .logout {
    cursor: pointer;
  }

  .link {
    font-size: 15px;
  }
}
