form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #d3d2d2;
    outline: none;
    border-radius: 5px;
  }

  .text-danger {
    font-size: 15px;
  }
}
